SportsSeriesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://www.ttu.ee/idu0075/2017/ws/sportsseries" 
	targetNamespace="http://www.ttu.ee/idu0075/2017/ws/sportsseries">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.ttu.ee/idu0075/2017/ws/sportsseries"  elementFormDefault="qualified">
			<xs:complexType name ="eventType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="place" type="xs:string"/>
                                        <xs:element name="date" type="xs:date"/>
                                        <xs:element name="typeOfSport" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="seriesEventType">
				<xs:sequence>
					<xs:element name="Event" type="tns:eventType"/>
                                        <xs:element name="Series" type="tns:seriesType"/>
					
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="seriesEventListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="seriesEvent" type="tns:seriesEventType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="seriesType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="seriesName" type="xs:string"/>
					<xs:element name="seriesStartDate" type="xs:date"/>
                                        <xs:element name="seriesEndDate" type="xs:date"/>
					<xs:element name="numOfEvents" type="xs:integer"/>
                                        <xs:element name="typeOfSport" type="xs:string"/>
					<xs:element name="seriesEventList" type="tns:seriesEventListType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getEventRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
                                                
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getEventResponse" type="tns:eventType"/>
			<xs:element name="addEventRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
                                                <xs:element minOccurs="0" maxOccurs="1" name="place" type="xs:string"/>
                                                <xs:element name="date" type="xs:date"/>
                                                <xs:element name="typeOfSport" type="xs:string"/>
                                                 <xs:element name="requestId" type="xs:string"/>
                                                
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addEventResponse" type="tns:eventType"/>
			<xs:element name="getEventListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
                        
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getEventListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Event" type="tns:eventType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSeriesRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
                        <xs:element name="requestId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSeriesResponse" type="tns:seriesType"/>
			<xs:element name="addSeriesRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="SeriesName" type="xs:string"/>
                                                <xs:element name="SeriesStartDate" type="xs:date"/>
                                                <xs:element name="SeriesEndDate" type="xs:date"/>
                                                <xs:element name="numOfEvents" type="xs:integer"/>
                                                <xs:element name="typeOfSport" type="xs:string"/>
                                                
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSeriesResponse" type="tns:seriesType"/>
			<xs:element name="getSeriesListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="startDate" type="xs:date"/>
						<xs:element name="endDate" type="xs:date"/>
						
                        <xs:element name="requestId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSeriesListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="Series" type="tns:seriesType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSeriesEventListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="SeriesId" type="xs:integer"/>
                        <xs:element name="requestId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSeriesEventListResponse" type="tns:seriesEventListType"/>
			<xs:element name="addSeriesEventRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="SeriesId" type="xs:integer"/>
						<xs:element name="EventId" type="xs:integer"/>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSeriesEventResponse" type="tns:seriesEventType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getEventMessageRequest">
		<wsdl:part name="parameter" element="tns:getEventRequest"/>
	</wsdl:message>
	<wsdl:message name="getEventMessageResponse">
		<wsdl:part name="parameter" element="tns:getEventResponse"/>
	</wsdl:message>
	<wsdl:message name="addEventMessageRequest">
		<wsdl:part name="parameter" element="tns:addEventRequest"/>
	</wsdl:message>
	<wsdl:message name="addEventMessageResponse">
		<wsdl:part name="parameter" element="tns:addEventResponse"/>
	</wsdl:message>
	<wsdl:message name="getEventListMessageRequest">
		<wsdl:part name="parameter" element="tns:getEventListRequest"/>
	</wsdl:message>
	<wsdl:message name="getEventListMessageResponse">
		<wsdl:part name="parameter" element="tns:getEventListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSeriesMessageRequest">
		<wsdl:part name="parameter" element="tns:getSeriesRequest"/>
	</wsdl:message>
	<wsdl:message name="getSeriesMessageResponse">
		<wsdl:part name="parameter" element="tns:getSeriesResponse"/>
	</wsdl:message>
	<wsdl:message name="addSeriesMessageRequest">
		<wsdl:part name="parameter" element="tns:addSeriesRequest"/>
	</wsdl:message>
	<wsdl:message name="addSeriesMessageResponse">
		<wsdl:part name="parameter" element="tns:addSeriesResponse"/>
	</wsdl:message>
	<wsdl:message name="getSeriesListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSeriesListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSeriesListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSeriesListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSeriesEventListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSeriesEventListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSeriesEventListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSeriesEventListResponse"/>
	</wsdl:message>
	<wsdl:message name="addSeriesEventMessageRequest">
		<wsdl:part name="parameter" element="tns:addSeriesEventRequest"/>
	</wsdl:message>
	<wsdl:message name="addSeriesEventMessageResponse">
		<wsdl:part name="parameter" element="tns:addSeriesEventResponse"/>
	</wsdl:message>
	<wsdl:portType name="SeriesPortType">
		<wsdl:operation name="getEvent">
			<wsdl:input message="tns:getEventMessageRequest"/>
			<wsdl:output message="tns:getEventMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addEvent">
			<wsdl:input message="tns:addEventMessageRequest"/>
			<wsdl:output message="tns:addEventMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getEventList">
			<wsdl:input message="tns:getEventListMessageRequest"/>
			<wsdl:output message="tns:getEventListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSeries">
			<wsdl:input message="tns:getSeriesMessageRequest"/>
			<wsdl:output message="tns:getSeriesMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSeries">
			<wsdl:input message="tns:addSeriesMessageRequest"/>
			<wsdl:output message="tns:addSeriesMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSeriesList">
			<wsdl:input message="tns:getSeriesListMessageRequest"/>
			<wsdl:output message="tns:getSeriesListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSeriesEventList">
			<wsdl:input message="tns:getSeriesEventListMessageRequest"/>
			<wsdl:output message="tns:getSeriesEventListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSeriesEvent">
			<wsdl:input message="tns:addSeriesEventMessageRequest"/>
			<wsdl:output message="tns:addSeriesEventMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SeriesBinding" type="tns:SeriesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEvent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addEvent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEventList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getSeries">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSeries">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSeriesList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getSeriesEventList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSeriesEvent">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SeriesService">
		<wsdl:port name="SeriesPort" binding="tns:SeriesBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
